<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Patient SignUp</title>
    </head>
    <link rel="stylesheet" href="/css/patientSignupStyles.css" />
    <body>
        <div class="main">
            <div class="image-div">
                <h1 class="brand">CHS</h1>
                <h4 class="tag-line">India's First CHR Portal</h4>
            </div>
            <div class="form-div">
                <h3>Ready to get started with CHS ?</h3>
                <p>Complete the form below and get started:</p>
                <form
                    action="/patients/register"
                    method="post"
                    onsubmit="return patientValidation()"
                >
                    <h5>Personal Details</h5>
                    <div class="input-group">
                        <input placeholder="Name" name="name" required />
                        <label
                            >Gender:
                            <select name="gender" aria-placeholder="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </label>
                    </div>
                    <div class="input-group">
                        <input placeholder="Age" name="age" required />
                        <label
                            >Married:
                            <select
                                name="maritalStatus"
                                aria-placeholder="Married"
                            >
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </label>
                    </div>
                    <h5>Medical Details:</h5>
                    <div class="input-group">
                        <input placeholder="Height" name="height" required />
                        <input placeholder="Weight" name="weight" required />
                    </div>
                    <div class="input-group">
                        <input
                            placeholder="Allergies Enter ',' seperated"
                            name="allergies"
                            class="full-width"
                        />
                    </div>
                    <div class="input-group float-left">
                        <label class="on-top">Blood Group:</label>
                        <select name="bloodGroup">
                            <option>A Positive</option>
                            <option>A Negative</option>
                            <option>B Positive</option>
                            <option>B Negative</option>
                            <option>AB Positive</option>
                            <option>AB Negative</option>
                            <option>O Positive</option>
                            <option>O Negative</option>
                        </select>
                    </div>
                    <h5>Address:</h5>
                    <div class="input-group">
                        <input placeholder="State" name="state" required />
                        <input placeholder="City" name="city" required />
                    </div>
                    <div class="input-group">
                        <input placeholder="Pincode" name="pincode" required />
                    </div>
                    <h5>Contact Details:</h5>
                    <div class="input-group">
                        <input
                            placeholder="Mobile Number"
                            name="mobileNumber"
                            required
                            pattern="^[6-9]\d{9}$"
                        />
                        <input
                            placeholder="Emergency Contact"
                            name="emergencyContact"
                            required
                        />
                    </div>
                    <div class="last-details">
                        <input
                            placeholder="Email"
                            name="email"
                            required
                            id="input--email"
                        />
                        <input
                            placeholder="Password"
                            name="password"
                            required
                            type="password"
                            id="input--password"
                        />
                        <input
                            placeholder="Confirm Password"
                            name="confirmPassword"
                            required
                            type="password"
                            id="confirmPassword"
                        />
                    </div>
                    <div class="errorParas">
                        <p id="emailErrorPara" class="invalid"></p>
                        <p id="passwordErrorPara" class="invalid"></p>
                        <p id="confirmPassError" class="invalid"></p>
                        <p class="invalid"><%=errorMessage%></p>
                    </div>
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/js/frontendValidation.js"></script>
    </body>
</html>
