.main {
    border-radius: 9px;
    border: 1px solid rgba(112, 128, 144, 0.623);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: fit-content;
}
.main img {
    border-radius: 9px;
}
.main h1 {
    font-size: large;
    text-align: center;
}
.main p {
    text-align: center;
    color: slategray;
    font-weight: 400;
}
.btn {
    display: block;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5rem 0;
}

.btn:hover {
    background-position: right;
}

.formDiv {
    width: 60vw;
    height: fit-content;
    margin: 0 auto;
    padding: 3rem 1rem;
    background-color: white;
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.formDiv h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.formDiv form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
}

form input {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: #f0f4f5;
}
form select {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: #f0f4f5;
}
form button {
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f) !important;
    border: none;
    color: white;
    font-weight: 700;
}
form button:hover {
    background-color: white;
}
form input:active,
form input:focus,
form select:active,
form select:focus {
    border: none;
    outline: none;
}
.input-group {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
}
.input-group label {
    color: slategrey;
    margin-top: 1rem;
}
