.main {
    min-height: 100vh;
    display: flex;
    position: relative;
}
.imageDiv {
    width: 50%;
    min-height: 100vh;
    background-color: #dce9e2;
    padding: 3vw 5vw;
    position: fixed;
}
.imageDiv img {
    width: 100%;
    margin-top: 3rem;
    border-radius: 10px;
}
.brand {
    color: #00856f;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: left;
}
.tagLine {
    color: #00856f;
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    text-transform: capitalize;
}
.formDiv {
    position: absolute;
    right: 10vw;
    padding: 5vw 0;
}
.lastDetails {
    display: flex;
    flex-direction: column;
}
.formDiv h3 {
    color: #26393a;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
}
.formDiv p {
    color: #7d7e78;
    margin: 15px 0;
}
.form h5 {
    color: #26393a;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0.7rem;
}
.inputGroup input,
.inputGroup select {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
    border: none;
    border-radius: 9px;
}
.inputGroup select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
label {
    color: #7d7e78;
}
.inputGroup,
.lastDetails {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.lastDetails input {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
    border: none;
    border-radius: 9px;
}
.lastDetails input:active,
.lastDetails input:focus {
    border: none;
    outline: none;
}
.inputGroup input:active,
.inputGroup input:focus,
.inputGroup select:active,
.inputGroup select:focus {
    border: none;
    outline: none;
}
.fullWidth {
    width: 100%;
}
.onTop {
    vertical-align: text-top;
    height: fit-content;
}
.floatLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.floatLeftselect {
    width: 100%;
}
.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 3rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-position: right;
}

.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}

@media (max-width: 1200px) {
    .formDiv {
        right: 5vw;
    }
}

@media (max-width: 900px) {
    .formDiv {
        right: 3vw;
    }
}
@media (max-width: 870px) {
    .main {
        flex-direction: column !important;
    }
    .imageDiv {
        position: relative !important;
        width: 100%;
    }
    .formDiv {
        position: relative;
        width: 100%;
        right: 0;
        padding: 10% 20%;
    }
}
@media (max-width: 540px) {
    .formDiv {
        padding: 10% 10%;
    }
}
@media (max-width: 420px) {
    .formDiv {
        padding: 10% 5%;
    }
    .inputGroup {
        flex-direction: column;
    }
    .inputGroup select {
        width: 100%;
    }
}
