.main {
    width: 70%;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.imageDiv {
    width: 100vw;
}
.imageDiv img {
    display: block;
    margin: 0 auto;
    width: 60%;
}
