* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html, body { 
    height: 100%; 
}
