.btn {
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 9px;
    padding: 0.5rem;
    outline: none;
    font-size: medium;
    border: none;
}

.btn:hover {
    background-position: right;
}
