* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5% 3%;
    background-color: #effaf8;
}
/*nav-bar*/
body::-webkit-scrollbar {
    display: none;
}
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover {
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.customOffCanvas {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #effaf8;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: relative;
}
.search-bar select {
    height: 100%;
    border: none;
    padding: 0 2rem;
}
.search-bar input {
    height: 100%;
    border: none;
    padding: 0 2rem;
}
.search-bar button {
    height: 100%;
    border: none;
    padding: 0 2rem;
}

.search-bar select:active,
.search-bar select:focus {
    outline: none;
}
.search-bar input:active,
.search-bar input:focus {
    outline: none;
    border: none;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    padding: 2rem 1rem;
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.227);
    border-radius: 10px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}
.outer-div {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}
.counter-container i {
    color: #0b8470;
}
.counter-container .counter {
    color: #7c7f7e;
}
.counter-container span {
    font-weight: 500;
    font-size: larger;
}
.counter-container a {
    text-decoration: none;
    color: black;
}

@media (max-width: 826px) {
    .outer-div {
        flex-direction: column;
        height: fit-content;
        width: 100vw;
        padding: 3rem;
        gap: 3rem;
        margin: 0 auto;
    }
    .counter-container {
        width: 60%;
    }
}

@media (max-width: 488px) {
    .counter-container {
        width: 90%;
    }
    .outer-div {
        padding: 3rem 1rem;
    }
}
