@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-bottom: 0;
    overflow-x: hidden;
    background-color: #effaf8 !important;
    min-height: 100vh;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.top-hero {
    padding: 2.2% 4%;
    width: 100vw;
    background-color: #effaf8;
}
#bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 100vw;
}
/* navbar & homepage*/
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover{
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
    padding: 0.5% 3%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}
#bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.card {
    width: 60vw;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 0px 16px #b1b6b3;
}
.form-signup {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    border-right: 1px solid #70B3A7;
}
.form-signup h1 {
    color: #0b8470;
    text-align: center;
    position: absolute;
    top: 1rem;
    text-transform: capitalize;
}
.form-signup form{
    margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
form input {
    padding: 0.5rem 0.55rem;
    border-radius: 9px;
}
.email {
    background-color: #f0f4f5;
    outline: none !important;
    border: none !important;
}
.password {
    background-color: #f0f4f5;
    outline: none !important;
    border: none !important;
}
.email:active,
.email:focus {
    background-color: #f0f4f5;
    outline: none !important;
    border: none !important;
}
form button {
    width: 45%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border-radius: 4px;
    background-color: #379e8e;
    color: white;
    border: none !important;
    font-weight: 700 !important;
    text-transform: uppercase;
}
form button:hover {
    color: #379e8e;
    background-color: white;
    border: 1px solid #379e8e !important;
}
.image-container {
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.599);
    height: 100%;
    text-align: center;
    display: flex;
}
img {
    width: 100%;
    height: 100%;
}
.invalid {
    color: red;
    text-align: center;
}
@media (max-width: 900px) {
    .card {
        width: 95vw;
    }
}

@media (max-width: 620px) {
    .image-container,
    .image-container img {
        display: none;
    }
    .card {
        width: 90vw;
    }
    .form-signup {
        width: 100%;
    }
    .form button {
        width: 90%;
        padding: 0;
    }
    .form input {
        padding: 0.5rem 1rem;
        border-radius: 9px;
    }
    form {
        width: 85%;
    }
}

@media (max-width: 992px) {
    .abs {
        position: absolute;
        width: 82%;
        text-align: center;
        z-index: 10;
        padding: 1rem;
        background-color: #5a5b5b;
        border-radius: 7px;
    }
}

.invalid{
    text-align: center;
    width: 100%;
    color: red;
    font-size: 16px;
}