* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5% 3%;
    background-color: #effaf8;
}
/*nav-bar*/
body::-webkit-scrollbar {
    display: none;
}
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover {
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.customOffCanvas {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #effaf8;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: relative;
}
.search-bar select {
    height: 100%;
    border: none;
    padding: 0 2rem;
}
.search-bar button {
    height: 100%;
    border: none;
    padding: 0 2rem;
}

.search-bar select:active,
.search-bar select:focus {
    outline: none;
}
/*patient-card*/
.patient-card {
    margin-top: 1rem !important;
    display: flex;
    height: fit-content;
    position: relative;
    align-items: center;
    background-color: white;
    gap: 6rem;
    width: 60vw;
    margin: 0 auto;
    padding: 5% 5%;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
    border-radius: 10px;
}
.patient-details {
    height: 100%;
}
.detail {
    color: rgb(92, 90, 90);
}
.patient-details h4 {
    color: rgb(92, 90, 90);
}
.icon svg {
    height: 100px;
    fill: #70b3a7;
}
.appointment-requests {
    max-width: 100vw;
    height: fit-content;
    margin-top: 2rem;
    border-radius: 10px;
    padding-bottom: 2rem;
}
.appointment-requests h1 {
    text-align: center;
    color: #0b8470;
}
.appointment-request {
    margin-top: 1.5rem !important;
    width: fit-content;
    margin: 0 auto;
    padding: 1% 6%;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
    border-radius: 10px;
    background-color: white;
}
.appointment-request p {
    margin-bottom: 0.3rem;
}

td {
    padding: 10px;
}

td button,
.button button {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #0b8470;
    border: none;
    color: white;
    font-weight: 700;
}
.button-div {
    width: 100%;
    text-align: center;
}

.button-div-appointments {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.hero {
    display: flex;
    height: 80vh;
    padding: 0 3rem;
}
.hero .content-div {
    width: 50%;
}
.hero .image-div {
    width: 50%;
}
.content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.content-div:first-child {
    margin-top: 10%;
}
.content-div h1 {
    font-size: 70px;
    color: #379e8e;
    font-weight: 700;
}
.button-div {
    text-align: center;
}
.button-div .button-home {
    border: none;
    background-color: #41b1a0;
    padding: 1rem;
    color: white;
    font-weight: 700;
    margin-top: 1rem;
}
.button-div .button-home:hover {
    border: 1px solid #41b1a0;
    color: #0b8470;
    background-color: white;
    cursor: pointer;
}
.button-home {
    text-decoration: none;
    display: inline-block;
}
.skip-appointment {
    margin-top: 1rem;
}
.skip-appointment .button {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.skip-appointment .button:hover {
    cursor: pointer;
}
