@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5% 3%;
    background-color: #effaf8;
    overflow-x: hidden;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover {
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.customOffCanvas {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #effaf8;
}
/*appointment table*/
.pendingAppointments h1 {
    text-align: center;
    color: rgba(0, 133, 111, 0.8);
}
.confimedAppointments h1,
.confimedAppointments h3 {
    text-align: center;
    color: rgba(0, 133, 111, 0.8);
}
.pAppointment,
.cAppointment {
    margin-top: 1.5rem !important;
    width: 80vw;
    margin: 0 auto;
    padding: 2% 4%;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
    border-radius: 10px;
    background-color: white;
}
td {
    padding: 10px;
}

.cancle-form button {
    border: none;
    background-color: #41b1a0;
    padding: 0.5rem;
    color: white;
    font-weight: 700;
    margin-top: 0.5rem;
}
.cancle-form button:hover {
    border: 1px solid #41b1a0;
    color: #0b8470;
    background-color: white;
    cursor: pointer;
}

.confimedAppointments {
    margin-top: 2rem;
}
.imageDiv{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.imageDiv img{
    width: 50%;
}
