* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5% 3%;
    background-color: #effaf8;
}
/*nav-bar*/
body::-webkit-scrollbar {
    display: none;
}
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover {
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.customOffCanvas {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #effaf8;
}

/*others*/
.image-div svg {
    width: 80px;
}
.outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}
.image-div {
    text-align: center;
}
.hospital-details h5 {
    text-align: center;
    color: black;
}
.hospital-details {
    margin-top: 1rem;
    text-decoration: none;
}
.hospital-card {
    margin-top: 1rem;
    padding: 8% 7%;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    background-color: white;
}

.outer-container a {
    text-decoration: none;
}

.empty {
    text-align: center;
    margin-top: 1rem;
    color: #0b8470;
}

.button-div button {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #0b8470;
    border: none;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 2rem;
}
.button-div {
    text-align: center;
}

.filter-div form {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.filter-div {
    text-align: center;
    height: 100%;
    display: flex;
    margin-top: 2rem;
}
.filter-div form {
    margin: 0 auto;
    text-align: center;
}
.filter-form button {
    background-color: #00856f;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
}
.filter-form button:hover {
    background-color: white;
    border: 1px solid #00856f;
    color: #0b8470;
}
.input-select select {
    padding: 5px 10px;
    outline: none;
    border: none;
}
.input-select label {
    color: #3c4a48bd;
    font-weight: 700;
}
.input-select select:hover,
.input-select select:active {
    outline: none;
}
.remove-doctor {
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
}
.remove-doctor button {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #0b8470;
    border: none;
    color: white;
    font-weight: 700;
}
.remove-doctor button:hover {
    background-color: transparent;
    color: #379e8e;
    border: 1px solid #0b8470;
}
.imageDiv {
    width: 100%;
    height: fit-content;
    text-align: center;
}
.imageDiv img {
    width: 50%;
}
