.patient-list {
    display: flex;
    width: 100%;
}
.patient-list .PatientlistContainer {
    flex: 6;
}

.loader {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    