<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book Appointment</title>
        <link rel="stylesheet" href="/css/bookDoctor.css" />
    </head>
    <body>
        <div class="formDiv">
            <h2>Appointment Request</h2>
            <form
                class="bookdoctor"
                action="/patients/bookdoctor"
                method="post"
            >
                <input
                    type="hidden"
                    value="<%=hospitalId%>"
                    name="hospitalId"
                />
                <input
                    type="hidden"
                    value="<%=doctorId%>"
                    name="doctorId"
                />
                <div class="input-group">
                    <label>Appointment Date</label>
                    <input name="appointmentDate" type="date" required/>
                </div>
                <div class="input-group">
                    <label>Appointment Time</label>
                    <input name="appointmentTime" type="time" required/>
                </div>
                <input
                    type="text"
                    placeholder="Description of Disease"
                    name="diseaseDescription"
                    required
                />
                <div class="input-group">
                    <label>Type</label>
                    <select name="type" required>
                        <option>New Case</option>
                        <option>Existing Case</option>
                    </select>
                </div>
                <button type="submit">Request Appointment</button>
            </form>
        </div>
    </body>
</html>
