<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About US</title>
    </head>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            background-color: #F7FAFC;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .content-box{
            width: 40vw;
            margin: 0 auto;
        }
        .content-box h1{
            margin-top: 2rem;
            text-align: center;
            font-size: 50px;
        }
        .content-box p{
            line-height: 1.5;
            font-size: x-large;
            margin-top: 2rem;
        }
    </style>
    <body>
        <div class="content-box">
            <h1>ABOUT US</h1>
            <p>Welcome to our website, where we are dedicated to bringing patients and doctors together in a digital space that streamlines healthcare access for all. Our mission is to make healthcare more accessible, convenient, and affordable for patients while providing doctors with a platform to connect with and treat more patients. Our team is made up of healthcare professionals and technology experts who have come together to create a digital healthcare experience that is safe, secure, and easy to use. We are committed to improving healthcare outcomes for patients and reducing healthcare costs for everyone</p>
        </div>
        
    </body>
</html>
