@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Grotesk&family=Space+Mono:wght@700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0.5% 3%;
    background-color: #effaf8;
}
/*nav-bar*/
body::-webkit-scrollbar {
    display: none;
}
.brand {
    color: #0b8470;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 6px;
}
.brand:hover {
    color: #0b8470;
}
.custom {
    background-color: transparent !important;
    max-width: 100vw !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,158,142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none !important;
}
.navbar-nav-scroll {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
.navbar-nav-scroll::-webkit-scrollbar {
    display: none !important;
}
.custom-col {
    color: #3c4a48;
    font-weight: 700;
    font-size: large;
    text-align: center;
}
.custom-col:hover,
.dropdown-item:hover {
    color: rgba(0, 133, 111, 0.8);
}
.customOffCanvas {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #effaf8;
}
/*MEDICAL HISTORY*/
.medical-history {
    max-width: 100vw;
    height: fit-content;
    margin-top: 2rem;
    border-radius: 10px;
    padding-bottom: 3rem;
}
.medical-history h1 {
    text-align: center;
    color: #0b8470;
}
.medical-record {
    margin-top: 1.5rem !important;
    width: 80vw;
    margin: 0 auto;
    padding: 2% 4%;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
    border-radius: 10px;
    background-color: white;
}
.medical-record p {
    margin-bottom: 0.3rem;
}

td {
    padding: 10px;
}

.recordMessage {
    text-align: center;
    font-size: large;
    margin-top: 2rem;
}
.filter-div form {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.filter-div {
    text-align: center;
    height: 100%;
    display: flex;
    margin-top: 2rem;
}
.filter-div form {
    margin: 0 auto;
    text-align: center;
}
.filter-form button {
    background-color: #00856f;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
}
.filter-form button:hover {
    background-color: white;
    border: 1px solid #00856f;
    color: #0b8470;
}
.input-select select {
    padding: 5px 10px;
    outline: none;
    border: none;
    width: 150px;
}
.input-select label {
    color: #3c4a48bd;
    font-weight: 700;
}
.input-select select:hover,
.input-select select:active {
    outline: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: relative;
}
.search-bar select {
    height: 100%;
    border: none;
    padding: 0 2rem;
}
.search-bar input {
    height: 100%;
    border: none;
    padding: 0 2rem;
}
.search-bar button {
    height: 100%;
    border: none;
    padding: 0 2rem;
}

.search-bar select:active,
.search-bar select:focus {
    outline: none;
}
.search-bar input:active,
.search-bar input:focus {
    outline: none;
    border: none;
}
.download-form button {
    background-color: #00856f;
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 4px;
}
.download-form button:hover {
    background-color: white;
    border: 1px solid #00856f;
    color: #0b8470;
}

.imageDiv {
    width: 100%;
    height: fit-content;
    text-align: center;
}
.imageDiv img {
    width: 50%;
}
