.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    background-color: white;
}
.sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}
.btn {
    padding: 0.5rem;
    display: block;
    border-radius: 7px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background-position: right;
}
.input {
    padding: 0.5rem;
    outline: none;
}
