.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
}
.btn {
    padding: 0.5rem;
    display: block;
    border-radius: 7px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background-position: right;
}
.input{
    padding: 0.5rem;
    outline: none;
}