<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RequestedAppointments</title>
        <link rel="stylesheet" href="/css/hospitalDashboard.css" />
    </head>
    <body>
        <div class="appointment-requests">
            <h1>Requested Appointments</h1>
            <div class="appointment-request">
                <table class="request">
                    <tr>
                        <td>title</td>
                        <td>title Of Disease</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>Description about disease</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>DateOfAppointment</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>TimeOfAppointment</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/hospitals/acceptAppointment"
                                ><button>Accept</button>
                            </a>
                        </td>
                        <td>
                            <a href="/hospitals/denyAppointment"
                                ><button>resheduleAppointment</button></a
                            >
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
