<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Patient Treated</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/0e6c012114.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/patientMedicalRecords.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg custom" id="home">
            <div class="container custom">
                <a class="navbar-brand brand" href="/">
                    <span class="single">CHS</span></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas"
                    aria-controls="navbarOffcanvas"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="offcanvas offcanvas-end bg-light"
                    id="navbarOffcanvas"
                    tabindex="-1"
                    aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header customOffCanvas">
                        <h4
                            class="offcanvas-title text-dark"
                            id="offcanvasNavbarLabel"
                        >
                            MENU
                        </h4>
                        <button
                            type="button"
                            class="btn-close btn-close-dark text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <div
                            class="navbar-nav justify-content-end flex-grow-1 pe-3"
                        >
                            <form
                                class="ms-auto me-auto"
                                action="/hospitals/patientstreated/searchpatient"
                                method="post"
                            >
                                <div class="search-bar">
                                    <input
                                        placeholder="search patient"
                                        title="input patient email"
                                        name="email"
                                        type="email"
                                    />
                                    <button type="submit">Search</button>
                                </div>
                            </form>
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="/hospitals/dashboard"
                                >Home</a
                            >
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="/hospitals/logout"
                                >Logout</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="medical-history">
            <% if(data.length===0) { %>
            <h1 class="empty" style="text-align: center; color: #7c7f7e">
                No patients Found !
                <div class="imageDiv">
                    <img src="/images/Nodata-2.svg" />
                </div>
            </h1>
            <% } %> <% if(data.length!==0) { %>
            <h1 class="empty" style="text-align: center; color: #7c7f7e">
                Patients Treated
            </h1>
            <% for (let medicalRecord of data) {%>
            <div class="medical-record">
                <table class="medical-record-table">
                    <tr>
                        <td>Doctor Name :</td>
                        <td><%=medicalRecord.doctorId.name%></td>
                    </tr>
                    <tr>
                        <td>Patient Name:</td>
                        <td><%=medicalRecord.patientId.name%></td>
                    </tr>
                    <tr>
                        <td>Doctors Note:</td>
                        <td><%=medicalRecord.note%></td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td><%=medicalRecord.date%></td>
                    </tr>
                </table>
            </div>
            <% } %>
        </div>
        <% } %>
    </body>
</html>
