.hospital-list {
    display: flex;
    width: 100%;
}
.hospital-list .HospitalslistContainer {
    flex: 6;
}
.loader {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
