.background{
    background-color: black;
}
.testimonials {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    min-height: 40vh;
    width: 100vw;
    background-color: #29C08C;
    backdrop-filter: blur(100%);
    padding: 1rem;
}
.testimonials-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.testimonials-title h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 50px;
}
.testimonials-review {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.testimonials-reviewcard {
    min-height: 90%;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5rem 0;
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.922);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.258);
    backdrop-filter: blur(15.2px);
    -webkit-backdrop-filter: blur(11.2px);
    gap: 2rem;
}
.testimonials-reviewcard p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200 !important;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.testimonials-reviewcard2 {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 0;
    padding-left: 2rem;
    padding-right: 1rem;
}
.testimonials-reviewcard2 p {
    font-size: 20px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 200 !important;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.testimonials-review-2 {
    position: relative;
}
.testimonials-reviewcard3 {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 0;
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonials-reviewcard3 p {
    font-size: 20px;
    color: #0c5153;
    font-family: "Poppins", sans-serif;
    font-weight: 200 !important;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.testimonials-div {
    text-align: center;
}
.testimonials-div-img {
    width: 6rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #6198a8;
}
@media (max-width: 1023px) {
    .testimonials-reviewcard2,
    .testimonials-reviewcard3,
    .testimonials-reviewcard {
        height: 85%;
        width: 90%;
    }
}
@media (max-width: 780px) {
    .testimonials-review {
        grid-template-columns: 1fr;
    }
    .testimonials {
        height: fit-content;
    }
    .testestimonials-title h1 {
        font-size: 40px;
    }
}
@media (max-width: 600px) {
    .testimonials-title h1 {
        font-size: 30px;
    }
    .testimonials-reviewcard p {
        font-size: 15px;
    }
}
