<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PatientDashboard</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/0e6c012114.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/hospitalList.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg custom" id="home">
            <div class="container custom">
                <a class="navbar-brand brand" href="/">
                    <span class="single">CHS</span></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas"
                    aria-controls="navbarOffcanvas"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="offcanvas offcanvas-end bg-light"
                    id="navbarOffcanvas"
                    tabindex="-1"
                    aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header customOffCanvas">
                        <h4
                            class="offcanvas-title text-dark"
                            id="offcanvasNavbarLabel"
                        >
                            MENU
                        </h4>
                        <button
                            type="button"
                            class="btn-close btn-close-dark text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <div
                            class="navbar-nav justify-content-end flex-grow-1 pe-3"
                        >
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle custom-col"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Location
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/hospitals/hospitalList"
                                            >Mumbai</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/hospitals/hospitalList"
                                            >Chennai</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/hospitals/hospitalList"
                                            >Delhi</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/hospitals/hospitalList"
                                            >Hyderabad</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/hospitals/hospitalList"
                                            >Ahmedabad</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="#"
                                >Logout</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="outer-container">
            <% for (let hospital of hospitals) { %>
            <a href="/docList">
                <div class="hospital-card">
                    <div class="image-div">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 640 512"
                        >
                            <path
                                d="M192 48c0-26.5 21.5-48 48-48H400c26.5 0 48 21.5 48 48V512H368V432c0-26.5-21.5-48-48-48s-48 21.5-48 48v80H192V48zM48 96H160V512H48c-26.5 0-48-21.5-48-48V320H80c8.8 0 16-7.2 16-16s-7.2-16-16-16H0V224H80c8.8 0 16-7.2 16-16s-7.2-16-16-16H0V144c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48v48H560c-8.8 0-16 7.2-16 16s7.2 16 16 16h80v64H560c-8.8 0-16 7.2-16 16s7.2 16 16 16h80V464c0 26.5-21.5 48-48 48H480V96H592zM312 64c-8.8 0-16 7.2-16 16v24H272c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h24v24c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16V152h24c8.8 0 16-7.2 16-16V120c0-8.8-7.2-16-16-16H344V80c0-8.8-7.2-16-16-16H312z"
                            />
                        </svg>
                    </div>
                    <div class="hospital-details">
                        <h5><%=hospital.hname%></h5>
                        <h5>
                            Location:<%=hospital.city%>,<%=hospital.pincode%>
                        </h5>
                    </div>
                </div>
            </a>
            <% }%>
        </div>
    </body>
</html>
