<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rated Successfully</title>
    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: center;
            background-color: #effaf8;
            gap: 2rem;
        }
        .image-div svg {
            width: 100px;
            fill: #00856f;
        }
        button {
            padding: 0.5rem 1rem;
            border-radius: 100px;
            background-color: #0b8470;
            border: none;
            color: white;
            font-weight: 700;
            margin-top: 2rem;
        }
        button:hover {
            cursor: pointer;
        }
        .content-div {
            text-align: center;
        }
    </style>
    <body>
        <div class="image-div">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                />
            </svg>
        </div>
        <div class="content-div">
            <h3>Your Rating has been recorded for Sucessfully</h3>
            <h3>Thanks for Rating !</h3>
            <a href="/patients/dashboard"><button>Back To HomePage</button></a>
        </div>
    </body>
</html>
