@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,500;0,800;0,900;1,100&family=Roboto:wght@100;400;500;700;900&display=swap");
.container {
    padding: 0 1.5rem;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login {
    color: #000000a6 !important;
    height: 100%;
    font-family: "Roboto", sans-serif !important;
    background-color: transparent !important;
    box-shadow: none !important;
    margin-top: 0.1rem !important;
    text-decoration: none !important;
}
.navHeading {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.test:hover {
    background-color: #279686;
    color: white;
}
.header__navlink {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #0c5153 !important;
    font-family: "Roboto", sans-serif !important;
    text-align: center !important;
}

.header__dropdown {
    text-align: center !important;
    background-color: #f8f9fa !important;
    border: none !important;
    align-self: center !important;
    padding: 1.3rem 1.3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    aspect-ratio: 2/2 !important;
    border-radius: 100% !important;
    border: 1px solid rgba(75, 86, 97, 0.721) !important;
}
.header__dropdown::after {
    content: none !important;
}
.header {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* Ensure it's above other content */
    transition: box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
}
.DropdownButton {
    background-color: transparent;
    outline: none;
    border: none;
    height: 100%;
    border-radius: 0;
    color: #000000a6;
    text-align: "center";
}
.DropdownButton:hover {
    background-color: transparent;
    color: #000000cb;
}
.buttonContainer:checked {
    background-color: transparent !important;
}
.buttonContainer:active {
    background-color: none;
}
.buttonContainer:first-child:active {
    background-color: none;
    color: #000000a6;
}
.userLogo {
    border: 1px solid slategray;
    padding: 0.1rem;
    border-radius: 100%;
}
.profileImage {
    border-radius: 100%;   
    
}

