<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Success</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: center;
            background-color: #effaf8;
            gap: 2rem;
        }
        .image-div img {
            width: 100px;
            fill: #00856f;
        }
        button {
            padding: 0.5rem 1rem;
            border-radius: 100px;
            background-color: #0b8470;
            border: none;
            color: white;
            font-weight: 700;
            margin-top: 2rem;
        }
        button:hover {
            cursor: pointer;
        }
        .content-div {
            text-align: center;
            font-family: "Roboto", sans-serif;
        }
    </style>
    <body>
        <div class="image-div">
            <img src="/images/check.gif" />
        </div>
        <div class="content-div">
            <h3>The Registration process has been sucessfull</h3>
            <h3>please wailt till we verify you</h3>
            <h3>verification will take 12 to 24hrs</h3>
            <h3>we will inform about verification status via email</h3>
            <a href="/"><button>Back To HomePage</button></a>
        </div>
    </body>
</html>
