@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
.cardMain {
    display: flex;
    gap: 4rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 1);
    border: 1px solid rgba(112, 128, 144, 0.211);
}
.imageDiv img {
    height: 180px;
    width: 180px;
    border-radius: 9px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.details h1 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.btn {
    display: block;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5rem 0;
    width: 300px;
}

.btn:hover {
    background-position: right;
}
.paras span {
    font-size: medium;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(87, 96, 104);
    font-family: 'Poppins', sans-serif;
}
