name: React Test
on:
  push:
    paths:
    - 'client/**'
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install
      working-directory: client

    - name: Run tests
      run: npm test
      working-directory: client
